@inject Threax.ProgressiveWebApp.DisplayConfig config;
@{
    ViewData["Title"] = "Welcome";
    Layout = "_Embedded";
}

<h1>Welcome to @config.SiteName</h1>
<p>This is the welcome page for @config.SiteName.</p>
